<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Home Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis, eius possimus. Iure minima eaque mollitia, tempora et ratione earum laudantium iste delectus facere quibusdam amet eligendi nam quo exercitationem ex illum nemo pariatur consequuntur consequatur! Ea beatae nemo maiores, praesentium minus dolorem ipsum libero maxime rerum, repudiandae, voluptates iure temporibus!</p>
    </body>
</html>